<div class="row">
    <div class="container">
        <div class="logo"><img src="../../../assets/APlogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/facebook.png"  id="faceb"></a>
                <a href=""><img src="../../../assets/github.png"    id="gith"></a>
                <a href=""><img src="../../../assets/instagram.png" id="insta"></a>
                <a href=""><img src="../../../assets/linkedin.png"  id="linke"></a>
                <a href=""><img src="../../../assets/twitter.png"   id="tww"></a>
                <button type="button" class="btn btn-outline-light btn-dark">INGRESO</button>
            </div>
        </div>
    </div>
</div>


